@model KurumsalWeb.Models.Model.Admin

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

  
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>Login -Admin Panel Giriş</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link href="assets/img/favicon.png" rel="icon">
        <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="/content/AdminLaoutt/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/content/AdminLaoutt/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="/content/AdminLaoutt/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="/content/AdminLaoutt/assets/vendor/quill/quill.snow.css" rel="stylesheet">
        <link href="/content/AdminLaoutt/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
        <link href="/content/AdminLaoutt/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
        <link href="/content/AdminLaoutt/assets/vendor/simple-datatables/style.css" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="/content/AdminLaoutt/assets/css/style.css" rel="stylesheet">

        <!-- =======================================================
        * Template Name: NiceAdmin
        * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
        * Updated: Apr 20 2024 with Bootstrap v5.3.3
        * Author: BootstrapMade.com
        * License: https://bootstrapmade.com/license/
        ======================================================== -->





    <meta name="viewport" content="width=device-width" />
    <title>SifremiUnuttum - admin</title>
</head>
<body>

    <main>
        <div class="container">
            @ViewBag.Uyari

            <form  action="/Admin/SifremiUnuttum/"  method="post">


                <div class="form-horizontal">

                    <hr />
                   
                    <div class="form-group">
                       
                        <div class="col-md-10">
                            <input type="email" class="form-control" name="eposta" required placeholder="E-posta adresinizi girin " />

                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Şifremi Mail Olarak Göder" class="btn btn-default" />
                        </div>
                    </div>
                </div>





            </form>
           

        </div>
    </main><!-- End #main -->

   

</body>
</html>
